* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/database/seeders/data/ramos_barangay_reference_boundaries.geojson text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
